<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>City: {{cityName}}</h1>
    <h2>The temperature is currently: {{temperature}}</h2>
    <form action="">
        <input type="text" placeholder="city">
        <button type="submit">Search</button>
    </form>
    <h1 id="title">Search For A City</h1>
    <h1 id="city">City: ...</h1>
    <h2 id="temp">Temp: ...</h2>

    <script src="/js/main2.js"></script>
</body>
</html>